```{=html}
<ul>
    <% for (const item of items) { %>
        <li>
            <h5><%- item.title %></h5>
            <div>
                <%= item.author %>
            </div>
            <p>
                <% if (item.url) { %>
                    <a href="<%- item.url %>" target="_blank" rel="noopener noreferrer">
                        <%- item.where %>
                    </a>
                    <% } else { %>
                        <%- item.where %>
                            <% } %>
                                (<%- item.year %>)
            </p>
        </li>
        <% } %>
</ul>
```